body {
  margin: 0;
}

h1 {
  font-family: sans-serif;
  color: rgb(2,181,208);
  font-size: 2.9rem;
}

@media (max-width: 800px) {
  h1 {
  font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  h1 {
  font-size: 1.2rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  border: 10px solid rgb(255,206,0);
  border-bottom: none;
  background: linear-gradient(179deg, rgb(250,243,171), rgb(252,194,0), rgb(222, 140, 66));
}

.box {
    width: 33%;
    position: absolute;
    top: 100px;
    width: 800px;
    height: 500px;
}

@media (max-width: 1200px) {
  .box {
    position: static;
    width: 100%;
    height: auto;
  }
}

.empty {
  width: 33%;
}

@media (max-width: 1200px) {
  .empty {
    width: 100%;
  }
}

.triangle-box {
  display: flex;
  width: 33%;
  align-items: end;
  justify-content: end;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 350px solid rgb(255,206,0);
  border-left: 350px solid transparent;
}

.play {
  width: 60%;
  object-fit: contain;
}

@media (max-width: 1200px) {
    .triangle-box {
      height: 0;
      width: 0;
      position: absolute;
      z-index: -1;
    }
}

.img-container {
  position: absolute;
  display: flex;
  height: 451px;
  width: 284px;
  right: 0;
  justify-content: center;
}

@media (max-width: 1200px) {
  .container {
    position: static;
    height: 100%;
    overflow: hidden;
  }
}

#title {
  background-color: rgb(255,206,0);
  position: absolute;
  width: 800px;
  height: 115px;
  bottom: 82%;
  right: 12%;
  padding-left: 80px;
  font-family: sans-serif;
  transform: rotate(-45deg);
  overflow: visible;
}

@media (max-width: 1200px) {
  #title {
    width: 100%;
    transform: rotate(0deg);
    right: 0;
    margin-top: 0;
    padding: 2%;
    position: static;
    text-align: center;
  }
}

main {
  border: 10px solid rgb(255,206,0);
  border-top: none;
}

.subtext {
  padding-left: 391px;
  margin: -32px 0 5px 0;
  font-size: 0.8rem;
}

@media (max-width: 700px) {
  .subtext {
  padding-left: 197px;
  font-size: 0.55rem;
  margin: -18px 0 5px 0;
  }
}

@media (max-width: 400px) {
  .subtext {
  margin: -13px 0 4px 0;
  padding-left: 150px;
  font-size: 0.40rem;
  }
}

#img-div {
  max-width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  /* background: linear-gradient(210deg, rgb(255,180,0), rgb(255,230,0)); */
}

#image {
  display: flex;
  max-width: 170%;
  height: auto;
  margin: 0 auto;
}

 @media only screen and (max-width: 1200px) {
#img-div {
  max-width: 100%;
  /* background: linear-gradient(210deg, rgb(255,180,0), rgb(255,230,0)); */
}

#image {
  max-width: 80%;
}
}

/*
@media only screen and (max-width: 1000px) {
  #image {
    max-width: 80%;
  }
  #img-div {
    padding-top: 0;
  }
} */

@media (max-width: 1000px) {
  figcaption {
    padding: 0.7rem;
  }
}

#tribute-info {
background-color: rgb(240,240,240);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2.3rem;
}

.tribute-text {
  display: inline;
  font-size: 1rem;
  font-family: sans-serif;
  width: 60%;
  line-height: 1.5;
  padding: 0 1.4rem;
  color: rgb(100, 100, 80);
}

.tribute-text > h2 {
  color: rgb(50,50,10);
}

@media (max-width: 1000px) {
  .tribute-text {
    font-size: 1rem;
    padding: 0;
    width: 100%;
  }
}

.inset {
  padding: 2rem;
}

li {
  padding-top: 1rem;
}

.flex-top {
  flex: 1 1 0%;
  padding: 0 0 0 1.4rem;
  text-align: center;
}

.boxart {
  width: 100%;
}

@media (max-width: 1000px) {
  .boxart {
    width: 60%;
  }
}

footer {
  height: 100px;
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}

@media (max-width: 700px) {
  footer > p {
    font-size: 0.9rem;
    height: 80px;
  }
}

button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  background-color:  rgb(245,160,80);
  cursor: pointer;
  border: none;
  height: 40px;
  width: 120px;
  margin: 20px 10px 10px;
}

@media (max-width: 1000px) {
  button {
    font-size: 0.9rem;
    height: 30px;
    width: 90px;
  }
}

button:hover {
  color: rgb(2,181,208);
  background: linear-gradient(210deg, rgb(255,180,0), rgb(255,230,0));
  cursor: pointer;
}
